<!DOCTYPE HTML>
<html>
<head>
<title>房屋交易平台</title>
<!---css--->
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<!---css--->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---js--->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!---js--->

<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
<!--web-fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700italic,700,600italic,600,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<link rel="stylesheet" href="/static/css/lightbox.css" type="text/css" media="all" />
<script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/rs_house.js"></script>
<!--JS for animate-->
<link href="/static/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/static/js/wow.min.js"></script>
	<!--//end-animate-->

</head>
<body>
	<div class="header head">
		<div class="container">
			<div class="heder-top">
				<div class="logo wow fadeInDownBig animated animated" data-wow-delay="0.4s">
					<h1><a href="index.html">My House?</a></h1>
				</div>
				<div class="nav-icon">		
					<a href="#" class="navicon"></a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--header--->
		<div class="content">
            <div class="container">

                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <a href="/user/rs_house/2/2/">
                            <li class="resp-tab-item" aria-controls="tab_item-0" role="tab">
                                <span>所有房源</span>
                            </li>
                        </a>
                        <select class="resp-tab-item" aria-controls="tab_item-1" role="tab">
                            <option value="0">
                                <a href="/user/rs_house/0/0/">租赁</a>
                            </option>
                            <option value="1">
                                <a href="/user/rs_house/1/0/">买卖</a>
                            </option>
                        </select>
{#                       <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>类型</span></li>#}
                        <a href="/user/rs_house/2/1/">
                            <li class="resp-tab-item" aria-controls="tab_item-2" role="tab">
                                <span>按价格降序</span></li>
                        </a>
                        <a href="/user/rs_house/2/0/">
                            <li class="resp-tab-item" aria-controls="tab_item-3" role="tab">
                                <span>按价格升序</span></li>
                        </a>
                        <a href="/user/newhouse/">
                            <li class="resp-tab-item" aria-controls="tab_item-0" role="tab">
                                <span>发布新房源</span>
                            </li>
                            </a>
                    </ul>
                    <div class="resp-tabs-container">
                        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0  wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                            <div class="tab_img">
                                <div class="col-md-4 img-top ">
                                    <a class="example-image-link" href="/static/images/g1.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses ">
                                        <img class="example-image" src="/static/images/g1.jpg" alt=""/>
                                        <div class="link-top">
                                            <i class="link"> </i>
                                        </div>
                                    </a>
                                    <div>
                                        <ul>
                                            <li>房屋地址:</li>
                                            <li>房屋价格:</li>
                                            <li>房屋押金:</li>
                                            <li>房屋描述:</li>
                                        </ul>
                                        <button>
                                        <a href="/user/order_house/">预约房主</a>
                                        </button>
                                    </div>
                                    </div>

										</div>

										<div class="col-md-4 img-top ">
					   		  			    <a class="example-image-link" href="/static/images/g2.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses nullader yoleac enanrit ma deuytas">
											<img class="example-image" src="/static/images/g2.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/g3.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g3.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										
											<div class="clearfix"></div>
									</div>
									<div class="tab_img">
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/s4.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/s4.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			    <a class="example-image-link" href="/static/images/s6.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/s6.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/s5.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/s5.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
											<div class="clearfix"></div>
									</div>	
									<div class="tab_img">
										<div class="col-md-4 img-top ">
					   		  			  <a class="example-image-link" href="/static/images/s8.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/s8.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/s7.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/s7.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/s2.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/s2.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
											<div class="clearfix"></div>
									</div>	
								</div>
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1  wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
									<div class="tab_img">
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/g4.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g4.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			    <a class="example-image-link" href="/static/images/g3.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g3.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/s2.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/s2.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										
											<div class="clearfix"></div>
									</div>	
									<div class="tab_img">
										<div class="col-md-4 img-top ">
					   		  			  <a class="example-image-link" href="/static/images/g5.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g5.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			    <a class="example-image-link" href="/static/images/s6.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/s6.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/g6.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g6.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
											<div class="clearfix"></div>
									</div>
									<div class="tab_img">
										<div class="col-md-4 img-top ">
					   		  			  <a class="example-image-link" href="/static/images/g3.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g3.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2  wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
									<div class="tab_img">
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/g7.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g7.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			    <a class="example-image-link" href="/static/images/g8.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g8.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/g9.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g9.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
											<div class="clearfix"></div>
									</div>	
							     	<div class="tab_img">
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/g1.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g1.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			    <a class="example-image-link" href="/static/images/s8.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/s8.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="clearfix"></div>
									</div>	        					 
								</div>
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3  wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
									<div class="tab_img">
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/g10.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g10.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			    <a class="example-image-link" href="/static/images/g11.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g11.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/g12.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/g12.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
											<div class="clearfix"></div>
									</div>	
							     	<div class="tab_img">
										<div class="col-md-4 img-top ">
					   		  			   <a class="example-image-link" href="/static/images/s4.jpg" data-lightbox="example-set" data-title="Betasase ferode vetuyasas deulidas vacsques mtreasades vias asey yoleacene aris masease. Bsaeats laoieu lacsqueses.">
											<img class="example-image" src="/static/images/s4.jpg" alt=""/>
												 <div class="link-top">
												 <i class="link"> </i>
												 </div>
					   		  			   </a>
										</div>
										<div class="clearfix"></div>
									</div>	        			
									 <script src="/static/js/lightbox.js"></script>
								</div>
							</div>
						</div>
					</div>
				</div>
		<div class="footer-section">
			</div>
</body>
</html>